header {
  background-color:rgba(128,128,128, 0.6); 
}

.whole-page {
  background-image: url("./../images/light-bulb-background.jpg");
  background-size: auto;
  min-height: 100vh;
  min-width: 100vw;
}