.whole-page {
  background-image: url("./../images/light-bulb-background.jpg");
  background-size: auto;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  /* align-items: center;
  justify-content: center; */
}

.idea-details{
  min-height: 200px;
  /* padding: 30px 15px; */
  background-color: rgba(240, 239, 195, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  word-wrap: break-word; 
  text-align: center;
  margin: 10% 0;
}

.link-as-button {
  background-color:  #eee;;
  color: black;
  padding: 0.25em 0.375em;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
  font-size: 20px;
  height: 15px;
  width: 100px;
  text-align: center;
  font: 20px Arial;
  height: fit-content;
}
.button-section {
  display: flex;
  justify-content: space-around;
}
.idea-details-buttons {
  height: 60px;
}