

.whole-page {
  background-image: url("./../images/light-bulb-background.jpg");
  background-size: auto;
  min-height: 100vh;
  min-width: 100vw;
}

.idea-details{
  min-height: 200px;
  /* padding: 30px 15px; */
  background-color: rgba(240, 239, 195, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 10% 0;
}