.whole-page {
  background-image: url("./../images/light-bulb-background.jpg");
  background-size: auto;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
}

button{
  height: 25px;
  width: 200px;
  background: #eee;
  border: 0px;
  border-radius: 5px;
  margin-left: 5px;
  box-shadow: 0 0 5px black;
  font-size: 20px;
}
h1 {
  /* font-family: 'Alfa Slab One', cursive; */
  font-family: 'Unica One', cursive;
  font-size: 60px;
  word-wrap: break-word; 
}

h2 {
  font-family: 'Unica One', cursive;
  word-wrap: break-word; 

}
p {
  font-family: 'Raleway', sans-serif;
  word-wrap: break-word; 
}
.bottom-section {
  display: flex;
  justify-content: space-around;
  
}

.create-idea-button {
  margin: 0 auto
}
.top-section {
  margin-bottom: 20px;
  background-color: rgba(240, 240, 136, 0.6); 
  padding: 30px;
  border-radius: 10px;
  width: 100%; 
  margin-left: auto;
  margin-right: auto;

}
.top-and-bottom{
  width:80%;
  margin: 15px auto 15px auto;
}
.claimed-list,
.unclaimed-list {
  min-height: 200px;
  padding:30px 15px;
  background-color: rgba(240, 239, 195, 0.6);
  border-radius: 10px;
  word-wrap: break-word;
  width: 50%;
}
.claimed-list{
  margin-right: 10px;
  word-wrap: break-word; 
}

/* Media Queries */

@media screen and (max-width:420px){
  .bottom-section {
    display: flex;
    flex-direction:column;
  }
  .claimed-list{
    margin-bottom:20px; 
  }

  .claimed-list,
  .unclaimed-list {
    width: 100%;
  }

}  